h1 {
    text-align: center;
    font-size: 40px;
}

.wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}

#boxOne {
    height: 175px;
}

#boxTwo {
    height: 200px;
}

#adding {
    flex-basis: 300px;
}

#removing { 
    flex-basis: 300px;
}

h3 {
    font-size: 20px;
}

#blocking {
    flex-basis: 250px;
}

#buttons {
    flex-basis: 100px;
}

#sites {
    flex-basis: 200px;
}

