h1 {
    text-align: center;
    font-size: 40px;
}

.wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}

#boxOne {
    height: 175px;
}

#boxTwo {
    height: 200px;
}

#adding {
    flex-basis: 300px;
}

#removing { 
    flex-basis: 300px;
}

h3 {
    font-size: 20px;
}

#blocking {
    flex-basis: 300px;
}

#buttons {
    display: block;
    flex-basis: 150px;
}

#clear {
    border: 1px solid black;
    margin-bottom: 2px;
}
#refresh {border: 1px solid black}

#sites {
    text-align: left;
    display: block;
    flex-basis: 200px;
    height: 70px;  
}

#list {
    text-align: left;
    font-size: 15px;
}

button {
    background-color: darkgreen;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border: 1px solid black
}

input {
    padding: 10px 20px;
    box-sizing: border-box;
}

button:hover {
    background-color: lightblue;
    color: black;
}
